<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}" />
    {% endif %}{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}" />
    {% endif %}

    {% if current_page %}
        <link rel="canonical" href="{{ current_page.url }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/css/style.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/droidsans.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/fontello.css" type="text/css" />

	<link rel="icon"
      type="image/png"
      href="{{ base_url }}/assets/{{ site_title }}.png">
	  
	  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126310480-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-126310480-1');
	</script>


</head>
<body{% if config.theme_config.widescreen %} class="widescreen"{% endif %}>

    <div id="header">
        <div class="container">
            <a id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false" tabindex="1">
                <span class="icon-menu" aria-hidden="true"></span>
                <span class="sr-only">Toggle Menu</span>
            </a>
            <h1>
                <a href="{{ "index"|link }}"><img src="{{ base_url }}/assets/{{ site_title }}.png"></a>
            </h1>
            <div id="nav" role="region" tabindex="-1">
                <ul>

					<li>
						<a href="https://gitlab.com/kreilly/r.a.s.p.i/commits/master">gitlab/log</a>
					</li>
                    {% for page in pages if page.title and not page.hidden %}
                        {% set pageDepth = page.id|split('/')|length %}
                        {% if (pageDepth == 2) and (page.id ends with "/index") or (pageDepth == 0) %}
                            <li{% if page.id == current_page.id %} class="active"{% endif %}>
                                <a href="{{ page.url }}">{{ page.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div id="main">
        <div class="container">
            {{ content }}
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="social">
                {% for social in pages._meta.meta.social %}
                    <a href="{{ social.url }}" title="{{ social.title }}" role="button">
                        <span class="icon-{{ social.icon }}" aria-hidden="true"></span>
                        <span class="sr-only">{{ social.title }}</span>
                    </a>
                {% endfor %}
            </div>
            <p>
              <a href="https://gitlab.com/kreilly/r.a.s.p.i">[gitlab]</a> <a href="/enlaces">[enlaces]</a> |
              <!-- <a href="https://es.wikipedia.org/wiki/Raspberry_Pi#Raspberry_Pi_1_Modelo_B_y_B+">Raspberry Pi Model B Rev 2</a><br /> -->
				<a href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b-plus/#buy-now-modal">Raspberry Pi 3 Model B+</a> |
				XMPP <a href="xmpp:k@r4sp1.nl">k@r4sp1.nl</a> |
                Hecho con <a href="http://picocms.org/">Pico</a> y <a href="https://www.markdownguide.org/basic-syntax">markdown</a> <br />
				Online desde el 21 de septiembre de 2018 | 
				<a href="https://creativecommons.org/licenses/by/4.0/deed.es_ES">Copyleft</a> 2021 <a href="https://perdiendo.org">perdiendo.org</a>
            </p>
        </div>
    </div>

    <script src="{{ theme_url }}/js/modernizr-3.3.1-custom.min.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/utils.js" type="text/javascript"></script>
    <script src="{{ theme_url }}/js/pico.js" type="text/javascript"></script>

</body>
</html>
